#python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#entorno virtual
venv/

#variables del entorno
.env

#base de dstos
db.sqlite3

#django
staticfiles/
media/

#ide
.idea/



# frontend / android
.gradle/
build/
app/build/
local.properties
*.apk
*.aab

# node/react native/expo if used
node_modules/
.expo/
dist/
.env.local

# mac/windows
.DS_Store
Thumbs.db

# logs
*.log