# === BACKEND (Django) ===
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
db.sqlite3
staticfiles/
media/

# === IDEs y Sistemas Operativos ===
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db

# === FRONTEND (Android / Gradle) ===
**/build/
**/.gradle/
**/local.properties
**/captures/
**/.externalNativeBuild/
**/.cxx/
*.apk
*.aab

# === OTROS (por si acaso) ===
node_modules/
.expo/
dist/
*.log